In [ ]:
# ANCLAJE CLOUD

In [15]:
import pandas as pd
from google.cloud import bigquery

In [17]:
#DATOS A CARGAR
datos_new_data1=[90632,"xxx-xxx",10,"750 ml","750",1,6,1,"zzzz-zzzz"]
datos_new_data2=["1_HARDERSFIELD_906632",1,"HARDERSFIELD",90632,"xxx-xxx","750 ML",4,10,"2016-01-01"]
datos_new_data3=["1_HARDERSFIELD_906632",1,"HARDERSFIELD",90632,"xxx-xxx","750 ML",3,10,"2016-12-31"]
datos_new_data4=[1,"zzzz-zzzz","2016-12-31",13662,"2016-12-31","2016-12-31",4,24,0.1,"1"]
datos_new_data5=["1_HARDERSFIELD_906632",1,90632,"xxx-xxx","750 ML",1,"zzzz-zzzz",13662,"2016-12-31","2016-12-31","2016-12-31","2016-12-31",6,4,24,1]
datos_new_data6=["1_HARDERSFIELD_906632",1,90632,"xxx-xxx","750 ML",5,50,10,"2016-12-31",750,1,0.1,1,"zzzz-zzzz"]

In [43]:
#CARGAR DATOS A BIG QUERY
cargar_datos_una_tabla("soy-henry-459003","andes_insight","Productos",datos_new_data1)
cargar_datos_una_tabla("soy-henry-459003","andes_insight", "Inventario_incial",datos_new_data2)
cargar_datos_una_tabla("soy-henry-459003","andes_insight","Inventario_final",datos_new_data3)
cargar_datos_una_tabla("soy-henry-459003","andes_insight","Compras",datos_new_data4)
cargar_datos_una_tabla("soy-henry-459003","andes_insight", "Detalle_compras",datos_new_data5)
cargar_datos_una_tabla("soy-henry-459003","andes_insight","Ventas", datos_new_data6)

‚úÖ Fila insertada correctamente con DataFrame
‚úÖ Fila insertada correctamente con DataFrame
‚úÖ Fila insertada correctamente con DataFrame
‚úÖ Fila insertada correctamente con DataFrame
‚úÖ Fila insertada correctamente con DataFrame
‚úÖ Fila insertada correctamente con DataFrame

In [73]:
# CONFIRMAR CARGA DE DATOS
confimar_nuevos_datos_cargados("soy-henry-459003","andes_insight","Productos","Brand",90632)
confimar_nuevos_datos_cargados("soy-henry-459003","andes_insight","Inventario_incial","Brand",90632)
confimar_nuevos_datos_cargados("soy-henry-459003","andes_insight","Inventario_final","Brand",90632)
confimar_nuevos_datos_cargados("soy-henry-459003","andes_insight","Compras","PONumber",13662)
confimar_nuevos_datos_cargados("soy-henry-459003","andes_insight","Detalle_compras","Brand",90632)
confimar_nuevos_datos_cargados("soy-henry-459003","andes_insight","Ventas","Brand",90632)

üîé Los nuevos datos en la tabla 'Productos' son:
   Brand Description  Price    Size Volume  Classification  PurchasePrice  \
0  90632     xxx-xxx   10.0  750 ml    750               1            6.0
1  90632     xxx-xxx   10.0  750 ml    750               1            6.0
2  90632     xxx-xxx   10.0  750 ml    750               1            6.0

   VendorNumber VendorName
0             1  zzzz-zzzz
1             1  zzzz-zzzz
2             1  zzzz-zzzz
----------------------------------
üîé Los nuevos datos en la tabla 'Inventario_incial' son:
             InventoryId  Store          City  Brand Description    Size  \
0  1_HARDERSFIELD_906632      1  HARDERSFIELD  90632     xxx-xxx  750 ML
1  1_HARDERSFIELD_906632      1  HARDERSFIELD  90632     xxx-xxx  750 ML
2  1_HARDERSFIELD_906632      1  HARDERSFIELD  90632     xxx-xxx  750 ML

   onHand  Price  startDate
0       4     10 2016-01-01
1       4     10 2016-01-01
2       4     10 2016-01-01
----------------------------------
üîé Los nuevos datos en la tabla 'Inventario_final' son:
             InventoryId  Store          City  Brand Description    Size  \
0  1_HARDERSFIELD_906632      1  HARDERSFIELD  90632     xxx-xxx  750 ML
1  1_HARDERSFIELD_906632      1  HARDERSFIELD  90632     xxx-xxx  750 ML
2  1_HARDERSFIELD_906632      1  HARDERSFIELD  90632     xxx-xxx  750 ML

   onHand  Price     endDate
0       3   10.0  2016-12-31
1       3   10.0  2016-12-31
2       3   10.0  2016-12-31
----------------------------------
üîé Los nuevos datos en la tabla 'Compras' son:
   VendorNumber VendorName InvoiceDate  PONumber      PODate     PayDate  \
0             1  zzzz-zzzz  2016-12-31     13662  2016-12-31  2016-12-31
1             1  zzzz-zzzz  2016-12-31     13662  2016-12-31  2016-12-31
2             1  zzzz-zzzz  2016-12-31     13662  2016-12-31  2016-12-31

   Quantity  Dollars  Freight Approval
0         4     24.0      0.1        1
1         4     24.0      0.1        1
2         4     24.0      0.1        1
----------------------------------
üîé Los nuevos datos en la tabla 'Detalle_compras' son:
             InventoryId  Store  Brand Description    Size  VendorNumber  \
0  1_HARDERSFIELD_906632      1  90632     xxx-xxx  750 ML             1
1  1_HARDERSFIELD_906632      1  90632     xxx-xxx  750 ML             1
2  1_HARDERSFIELD_906632      1  90632     xxx-xxx  750 ML             1

  VendorName  PONumber      PODate ReceivingDate InvoiceDate     PayDate  \
0  zzzz-zzzz     13662  2016-12-31    2016-12-31  2016-12-31  2016-12-31
1  zzzz-zzzz     13662  2016-12-31    2016-12-31  2016-12-31  2016-12-31
2  zzzz-zzzz     13662  2016-12-31    2016-12-31  2016-12-31  2016-12-31

   PurchasePrice  Quantity  Dollars  Classification
0            6.0         4     24.0               1
1            6.0         4     24.0               1
2            6.0         4     24.0               1
----------------------------------
üîé Los nuevos datos en la tabla 'Ventas' son:
             InventoryId  Store  Brand Description    Size  SalesQuantity  \
0  1_HARDERSFIELD_906632      1  90632     xxx-xxx  750 ML              5
1  1_HARDERSFIELD_906632      1  90632     xxx-xxx  750 ML              5
2  1_HARDERSFIELD_906632      1  90632     xxx-xxx  750 ML              5

   SalesDollars  SalesPrice   SalesDate  Volume  Classification  ExciseTax  \
0          50.0        10.0  2016-12-31     750               1        0.1
1          50.0        10.0  2016-12-31     750               1        0.1
2          50.0        10.0  2016-12-31     750               1        0.1

   VendorNo VendorName
0         1  zzzz-zzzz
1         1  zzzz-zzzz
2         1  zzzz-zzzz
----------------------------------

In [81]:
#ELIMINAR DATOS
eliminar_datos_cargados_por_columna("soy-henry-459003", "andes_insight","Productos","Brand",90632)
eliminar_datos_cargados_por_columna("soy-henry-459003", "andes_insight","Inventario_incial","Brand",90632)
eliminar_datos_cargados_por_columna("soy-henry-459003", "andes_insight","Inventario_final","Brand",90632)
eliminar_datos_cargados_por_columna("soy-henry-459003", "andes_insight","Detalle_compras","Brand",90632)
eliminar_datos_cargados_por_columna("soy-henry-459003", "andes_insight","Ventas","Brand",90632)
eliminar_datos_cargados_por_columna("soy-henry-459003", "andes_insight","Compras","PONumber",13662)

‚úÖ Se eliminaron las filas con Brand = 90632 en la tabla Productos
‚úÖ Se eliminaron las filas con Brand = 90632 en la tabla Inventario_incial
‚úÖ Se eliminaron las filas con Brand = 90632 en la tabla Inventario_final
‚úÖ Se eliminaron las filas con Brand = 90632 en la tabla Detalle_compras
‚úÖ Se eliminaron las filas con Brand = 90632 en la tabla Ventas
‚úÖ Se eliminaron las filas con PONumber = 13662 en la tabla Compras

In [83]:
# CONFIRMAR QUE LOS DATOS HAN SIDO ELIMINADOS
confimar_nuevos_datos_cargados("soy-henry-459003","andes_insight","Productos","Brand",906632)
confimar_nuevos_datos_cargados("soy-henry-459003","andes_insight","Inventario_incial","Brand",90632)
confimar_nuevos_datos_cargados("soy-henry-459003","andes_insight","Inventario_final","Brand",90632)
confimar_nuevos_datos_cargados("soy-henry-459003","andes_insight","Compras","PONumber",13662)
confimar_nuevos_datos_cargados("soy-henry-459003","andes_insight","Detalle_compras","Brand",90632)
confimar_nuevos_datos_cargados("soy-henry-459003","andes_insight","Ventas","Brand",90632)

üîé Los nuevos datos en la tabla 'Productos' son:
‚ö†Ô∏è No se encontraron datos nuevos.

----------------------------------
üîé Los nuevos datos en la tabla 'Inventario_incial' son:
‚ö†Ô∏è No se encontraron datos nuevos.

----------------------------------
üîé Los nuevos datos en la tabla 'Inventario_final' son:
‚ö†Ô∏è No se encontraron datos nuevos.

----------------------------------
üîé Los nuevos datos en la tabla 'Compras' son:
‚ö†Ô∏è No se encontraron datos nuevos.

----------------------------------
üîé Los nuevos datos en la tabla 'Detalle_compras' son:
‚ö†Ô∏è No se encontraron datos nuevos.

----------------------------------
üîé Los nuevos datos en la tabla 'Ventas' son:
‚ö†Ô∏è No se encontraron datos nuevos.

----------------------------------

In [ ]:
# FUNCIONES

In [41]:
#verificar si hay anclaje con Bigquery
from google.cloud import bigquery
    
# Crear cliente apuntando al proyecto compartido
client2 = bigquery.Client(project="soy-henry-459003")
    
# Verificar conexi√≥n
datasets = list(client2.list_datasets(project="soy-henry-459003"))
if datasets:
    for ds in datasets:
        print(f"‚úÖ Dataset: {ds.dataset_id}")

‚úÖ Dataset: andes_insight

In [39]:
def listar_tablas_sql(proyecto,dataset):
    tablass=[]
    client2 = bigquery.Client(project="soy-henry-459003")
    dataset_id = proyecto + "." + dataset
    try:
        tablas = list(client2.list_tables(dataset_id))
        if tablas:
            #print(f"Tablas en el dataset {dataset_id}:")
            for tabla in tablas:
                #print(f"- {tabla.table_id}")
                tablass.append(tabla.table_id)
        else:
            print(f"‚ö†Ô∏è No hay tablas en el dataset {dataset_id}.")
    except Exception as e:
        print("‚ùå Error al listar tablas:")
        print(e) 
    return tablass

In [37]:
def cargar_datos_una_tabla(proyecto,dataset,tabla_BQ,datos_new):
    client2 = bigquery.Client(project="soy-henry-459003")
    tabla_destino= proyecto + "." + dataset +  "." + tabla_BQ
    # Obtener el esquema de la tabla
    tabla = client2.get_table(tabla_destino)
    # Extraer nombres de columnas
    columnas = [campo.name for campo in tabla.schema]
    datos_nuevos=datos_new
    # Crear el DataFrame
    # Si es una sola fila (lista simple), envolvemos en una lista
    if isinstance(datos_new[0], list):
        df = pd.DataFrame(datos_new, columns=columnas)
    else:
        df = pd.DataFrame([datos_new], columns=columnas)
    for col in df.columns:
        if df[col].dtype == "object":
            # Intentar convertir a datetime
            try:
                df[col] = pd.to_datetime(df[col], errors="raise")
                    #print(f"üïì Columna '{col}' convertida a datetime")
            except:
                # Si falla, lo pasamos a string
                 df[col] = df[col].astype(str)
                #print(f"üî§ Columna '{col}' convertida a string")
        elif str(df[col].dtype) == "Int64":  # nullable int
            df[col] = pd.to_numeric(df[col], errors="coerce").astype("float64")
        
    job_config = bigquery.LoadJobConfig(
        write_disposition="WRITE_APPEND",  # Agrega sin borrar lo anterior
        autodetect=True
    )
        
    job = client2.load_table_from_dataframe(df, tabla_destino, job_config=job_config)
    job.result()
    print("‚úÖ Fila insertada correctamente con DataFrame")

In [35]:
def confimar_nuevos_datos_cargados(proyecto, dataset,tabla_BQ,columna,dato):
    client2 = bigquery.Client(project="soy-henry-459003")
    tabla_id = f"{proyecto}.{dataset}.{tabla_BQ}"
    query = f"SELECT * FROM `{tabla_id}` WHERE {columna} = {dato}"

    print(f"üîé Los nuevos datos en la tabla '{tabla_BQ}' son:")
    
    nuevos_datos = client2.query(query)
    df_nuevos_datos = nuevos_datos.result().to_dataframe()
    
    if not df_nuevos_datos.empty:
        print(df_nuevos_datos)
    else:
        print("‚ö†Ô∏è No se encontraron datos nuevos.\n")
    print("----------------------------------")

In [33]:
def eliminar_datos_cargados_por_columna(proyecto, dataset, tabla_BQ, columna, dato):
    client2 = bigquery.Client(project="soy-henry-459003")
    tabla_id = f"{proyecto}.{dataset}.{tabla_BQ}"

    # Obtener el esquema para determinar el tipo de la columna
    esquema = client2.get_table(tabla_id).schema
    tipo_columna = next((campo.field_type for campo in esquema if campo.name.lower() == columna.lower()), None)

    if tipo_columna is None:
        print(f"‚ùå La columna '{columna}' no existe en la tabla '{tabla_BQ}'")
        return

    # Mapear el tipo BigQuery a tipos v√°lidos para ScalarQueryParameter
    tipo_parametro = {
        "STRING": "STRING",
        "INTEGER": "INT64",
        "INT64": "INT64",
        "FLOAT": "FLOAT64",
        "NUMERIC": "NUMERIC",
        "BOOLEAN": "BOOL",
        "BOOL": "BOOL"
    }.get(tipo_columna.upper(), "STRING")

    # Crear la consulta que excluye las filas con ese valor
    query = f"""
    CREATE OR REPLACE TABLE `{tabla_id}` AS
    WITH temp AS (
        SELECT * FROM `{tabla_id}`
        WHERE {columna} != @valor
    )
    SELECT * FROM temp
    """

    job_config = bigquery.QueryJobConfig(
        query_parameters=[
            bigquery.ScalarQueryParameter("valor", tipo_parametro, dato)
        ]
    )

    job = client2.query(query, job_config=job_config)
    job.result()
    print(f"‚úÖ Se eliminaron las filas con {columna} = {dato} en la tabla {tabla_BQ}")